@use "./partials" as *;

@mixin pageheader {
  font-size: 24px;
  font-weight: 400;
  @media (min-width: $tablet-width) {
    font-size: 60px;
    font-weight: 400;
  }
}
@mixin sectionheader {
  font-size: 24px;
  font-weight: 400;
  @media (min-width: $tablet-width) {
    font-size: 36px;
    font-weight: 400;
  }
}
@mixin subheader {
  font-size: 20px;
  font-weight: 400;
  padding: 16px 16px 0 16px;
}
@mixin bodytext {
  font-size: 13px;
  font-weight: 300;
  line-height: 18px;
  @media (min-width: $tablet-width) {
    font-size: 14px;
  }
}
@mixin maxwidth {
  @media (min-width: $desktop-width) {
    max-width: 1020px;
    margin: 0 auto;
  }
}
@mixin linkreset {
  a,
  a:hover,
  a:focus,
  a:active {
    text-decoration: none;
    color: $white;
  }
}
@mixin herocontainerspecs {
  background-size: cover;
  min-height: 15.625rem;
  position: relative;
  display: flex;
  padding-left: 1rem;
  position: relative;
}
@mixin herooverlay {
  &:before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background: rgba(50, 50, 50, 0.5);
  }
}
