// primary colors//
$bandsite-black: #323232;
$silver: #afafaf;
$white: #ffff;

//secondary colors//
$bandsite-dark: #0000;
$mercury: #e1e1e1;
$alabaster: #fafafa;

//media sizes//
$tablet-width: 768px;
$desktop-width: 1279px;
