@use "partials/partials" as *;
@use "partials/mixins" as *;
@use "./fonts" as *;

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: avenirNextLTpro;
}

.header {
  background-color: $bandsite-black;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  padding: 1em;

  &__logo {
    padding: 2em;
  }
  &__nav {
    color: $white;
    display: flex;
    width: 100vw;
  }
  &__ul {
    display: flex;
    list-style-type: none;
    width: 100%;
  }
  &__item {
    width: 50%;
    text-align: center;
    padding: 1em;
  }
}

.hero-container {
  background-image: url("../assets/images/hero-bio.jpg");
  background-size: cover;
  min-height: 250px;
  display: flex;

  &__title {
    color: $white;
    display: flex;
    align-items: center;
    @include pageheader;
  }
}
.about-section {
  &__title {
    font-size: 36px;
    padding: 24px 0 16px 0;
    @include sectionheader;
  }
  &__img {
    width: 100%;
  }
}
.gallery {
  background-color: $alabaster;
  &__title {
    padding: 16px 16px 0 16px;
    @include sectionheader;
  }
  &__photo {
    width: 100%;
    padding: 16px;
  }
}
