@font-face {
  font-family: "avenirNextLTpro";
  src: url(../assets/fonts/AvenirNextLTPro-Regular.otf);
  font-weight: 300;
}
@font-face {
  font-family: "avenirNextLTpro";
  src: url(../assets/fonts/AvenirNextLTPro-Demi.otf);
  font-weight: 400;
}
@font-face {
  font-family: "avenirNextLTpro";
  src: url(../assets/fonts/AvenirNextLTPro-Bold.otf);
  font-weight: 500;
}
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "avenirNextLTpro";
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

.header {
  background-color: #323232;
  padding: 1.5rem 0 0 0;
}
@media (min-width: 768px) {
  .header {
    width: auto;
    align-items: center;
    justify-content: right;
    padding: 0;
  }
}
.header__logo {
  height: 3rem;
  width: 3rem;
}
.header__nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: #ffff;
  width: 100vw;
}
@media (min-width: 768px) {
  .header__nav {
    justify-content: flex-start;
    align-items: center;
    padding-left: 2rem;
  }
}
.header__ul {
  display: flex;
  list-style-type: none;
  width: 100%;
}
@media (min-width: 768px) {
  .header__ul {
    width: auto;
  }
}
.header__item {
  width: 50%;
  text-align: center;
  padding-top: 1rem;
}
.header__item:hover {
  border-bottom: solid 0.1875rem #ff007f;
}
@media (min-width: 768px) {
  .header__item {
    width: auto;
    margin-left: 2rem;
    padding: 2rem 0 2rem 0;
  }
}
.header__item--active {
  border-bottom: solid 0.1875rem white;
}

.hero-container {
  background-image: url("../assets/images/hero-bio.jpg");
  background-size: cover;
  min-height: 15.625rem;
  position: relative;
  display: flex;
  padding-left: 1rem;
  position: relative;
}
.hero-container:before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background: rgba(50, 50, 50, 0.5);
}
@media (min-width: 768px) {
  .hero-container {
    min-height: 25rem;
  }
}
@media (min-width: 1279px) {
  .hero-container {
    min-height: 37.5rem;
  }
}
.hero-container__title {
  position: relative;
  color: #ffff;
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: 400;
}
@media (min-width: 768px) {
  .hero-container__title {
    font-size: 60px;
    font-weight: 400;
  }
}

@media (min-width: 1279px) {
  .about-section {
    max-width: 1020px;
    margin: 0 auto;
  }
}
.about-section__title {
  padding: 1.5rem 0 1rem 1rem;
  font-size: 24px;
  font-weight: 400;
}
@media (min-width: 768px) {
  .about-section__title {
    font-size: 36px;
    font-weight: 400;
  }
}
@media (min-width: 1279px) {
  .about-section__title {
    max-width: 1020px;
    margin: 0 auto;
  }
}
.about-section__img {
  width: 100%;
  padding: 1rem;
}
@media (min-width: 768px) {
  .about-section__img {
    padding: 0 6rem 0 6rem;
  }
}
@media (min-width: 1279px) {
  .about-section__img {
    max-width: 1020px;
    margin: 0 auto;
  }
}
.about-section__quote {
  font-weight: 600;
  line-height: 1.5rem;
  padding: 1rem;
}
@media (min-width: 768px) {
  .about-section__quote {
    padding: 1rem 6rem 0 6rem;
  }
}
@media (min-width: 1279px) {
  .about-section__quote {
    max-width: 1020px;
    margin: 0 auto;
  }
}
.about-section__h2 {
  font-size: 20px;
  font-weight: 400;
  padding: 16px 16px 0 16px;
}
@media (min-width: 768px) {
  .about-section__h2 {
    padding: 1rem 6rem 0 6rem;
  }
}
@media (min-width: 1279px) {
  .about-section__h2 {
    max-width: 1020px;
    margin: 0 auto;
  }
}
@media (min-width: 768px) {
  .about-section__biowrap {
    display: flex;
    padding: 0 6rem 0 6rem;
  }
}
@media (min-width: 768px) and (min-width: 1279px) {
  .about-section__biowrap {
    max-width: 1020px;
    margin: 0 auto;
  }
}
.about-section__text {
  padding: 1rem 1rem 0.3125rem 1rem;
  font-size: 13px;
  font-weight: 300;
  line-height: 18px;
}
@media (min-width: 768px) {
  .about-section__text {
    font-size: 14px;
  }
}

.gallery {
  padding: 2rem 2rem 1rem 1rem;
  background-color: #fafafa;
}
.gallery__title {
  font-size: 24px;
  font-weight: 400;
}
@media (min-width: 768px) {
  .gallery__title {
    font-size: 36px;
    font-weight: 400;
  }
}
@media (min-width: 768px) {
  .gallery__title {
    padding-left: 14.4px;
  }
}
@media (min-width: 1279px) {
  .gallery__title {
    max-width: 1020px;
    margin: 0 auto;
  }
}
.gallery__photo {
  width: 100%;
  padding: 1rem 1rem 0 1rem;
  filter: grayscale(100%);
}
.gallery__photo:hover {
  filter: none;
}
@media (min-width: 768px) {
  .gallery__photo {
    width: calc(33.33% - (40px / 3));
    padding: 0.5rem;
  }
}
@media (min-width: 768px) {
  .gallery__wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media (min-width: 1279px) {
  .gallery__wrap {
    max-width: 1020px;
    margin: 0 auto;
  }
}

.footer {
  background-color: #323232;
  color: #ffff;
  padding: 1rem 1rem 2rem 1rem;
}
.footer__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .footer__container {
    flex-direction: row;
  }
}
@media screen and (min-width: 768px) and (min-width: 1279px) {
  .footer__container {
    max-width: 1020px;
    margin: 0 auto;
  }
}
.footer__left {
  flex-grow: 1;
}
.footer__header {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 1rem 0 0 0;
}
@media screen and (min-width: 768px) {
  .footer__header {
    flex-direction: row;
  }
}
.footer__title {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 400;
}
@media (min-width: 768px) {
  .footer__title {
    font-size: 36px;
    font-weight: 400;
  }
}
@media screen and (min-width: 768px) {
  .footer__title {
    margin-right: 20px;
  }
}
.footer__icons img {
  margin-right: 10px;
  padding: 0.5rem;
}
.footer__logo {
  padding-top: 1rem;
}
.footer__body {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .footer__body {
    flex-direction: row;
  }
}
.footer__body__column {
  margin-bottom: 30px;
}
.footer__body__text {
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .footer__body__text {
    margin-bottom: 30px;
  }
}
.footer__disclaimer {
  padding-top: 20px;
}
@media (min-width: 1279px) {
  .footer__disclaimer {
    max-width: 1020px;
    margin: 0 auto;
  }
}/*# sourceMappingURL=bio.css.map */