@use "partials/partials" as *;
@use "partials/mixins" as *;
@use "./fonts" as *;

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "avenirNextLTpro";
}
@include linkreset;
.header {
  background-color: $bandsite-black;
  padding: 1.5rem 0 0 0;
  @media (min-width: $tablet-width) {
    width: auto;
    align-items: center;
    justify-content: right;
    padding: 0;
  }

  &__logo {
    height: 3rem;
    width: 3rem;
  }
  &__nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: $white;
    width: 100vw;
    @media (min-width: $tablet-width) {
      justify-content: flex-start;
      align-items: center;
      padding-left: 2rem;
    }
  }
  &__ul {
    display: flex;
    list-style-type: none;
    width: 100%;
    @media (min-width: $tablet-width) {
      width: auto;
    }
  }
  &__item {
    width: 50%;
    text-align: center;
    padding-top: 1rem;
    &:hover {
      border-bottom: solid 0.1875rem #ff007f;
    }
    @media (min-width: $tablet-width) {
      width: auto;
      margin-left: 2rem;
      padding: 2rem 0 2rem 0;
    }
    &--active {
      border-bottom: solid 0.1875rem white;
    }
  }
}
.hero-container {
  background-image: url("../assets/images/hero-bio.jpg");
  background-size: cover;
  min-height: 15.625rem;
  position: relative;
  display: flex;
  padding-left: 1rem;
  position: relative;
  @media (min-width: $tablet-width) {
    min-height: 25rem;
  }
  @media (min-width: $desktop-width) {
    min-height: 37.5rem;
  }
  &:before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background: rgba(50, 50, 50, 0.5);
  }
  &__title {
    position: relative;
    color: $white;
    display: flex;
    align-items: center;
    @include pageheader;
  }
}
.about-section {
  @include maxwidth;
  &__title {
    padding: 1.5rem 0 1rem 1rem;
    @include sectionheader;
    @include maxwidth;
  }
  &__img {
    width: 100%;
    padding: 1rem;

    @media (min-width: $tablet-width) {
      padding: 0 6rem 0 6rem;
    }
    @include maxwidth;
  }
  &__quote {
    font-weight: 600;
    line-height: 1.5rem;
    padding: 1rem;
    @media (min-width: $tablet-width) {
      padding: 1rem 6rem 0 6rem;
    }
    @include maxwidth;
  }
  &__h2 {
    @include subheader;
    @media (min-width: $tablet-width) {
      padding: 1rem 6rem 0 6rem;
    }
    @include maxwidth;
  }
  &__biowrap {
    @media (min-width: $tablet-width) {
      display: flex;
      padding: 0 6rem 0 6rem;
      @include maxwidth;
    }
  }
  &__text {
    padding: 1rem 1rem 0.3125rem 1rem;
    @include bodytext;
  }
}
.gallery {
  padding: 2rem 2rem 1rem 1rem;
  background-color: $alabaster;
  &__title {
    @include sectionheader;
    @media (min-width: $tablet-width) {
      padding-left: 14.4px;
    }
    @include maxwidth;
  }
  &__photo {
    width: 100%;
    padding: 1rem 1rem 0 1rem;
    filter: grayscale(100%);
    &:hover {
      filter: none;
    }
    @media (min-width: $tablet-width) {
      width: calc(33.33% - (40px / 3));
      padding: 0.5rem;
    }
  }
  &__wrap {
    @media (min-width: $tablet-width) {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
    @include maxwidth;
  }
}

.footer {
  background-color: $bandsite-black;
  color: $white;
  padding: 1rem 1rem 2rem 1rem;

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media screen and (min-width: $tablet-width) {
      flex-direction: row;
      @include maxwidth;
    }
  }

  &__left {
    flex-grow: 1;
  }

  &__header {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 1rem 0 0 0;
    @media screen and (min-width: $tablet-width) {
      flex-direction: row;
    }
  }

  &__title {
    margin-bottom: 20px;
    @include sectionheader;
    @media screen and (min-width: $tablet-width) {
      margin-right: 20px;
    }
  }

  &__icons img {
    margin-right: 10px;
    padding: 0.5rem;
  }

  &__logo {
    padding-top: 1rem;
  }

  &__body {
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media screen and (min-width: $tablet-width) {
      flex-direction: row;
    }
  }

  &__body__column {
    margin-bottom: 30px;
    @media screen and (min-width: $tablet-width) {
    }
  }

  &__body__text {
    margin-bottom: 10px;
    @media screen and (min-width: $tablet-width) {
      margin-bottom: 30px;
    }
  }

  &__disclaimer {
    padding-top: 20px;
    @include maxwidth;
  }
}
