.showhero-container {
  background-size: cover;
  min-height: 15.625rem;
  position: relative;
  display: flex;
  padding-left: 1rem;
  position: relative;
  flex-direction: column;
  padding: 1rem;
  background-image: url("../assets/images/hero-shows.jpg");
}
.showhero-container:before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background: rgba(50, 50, 50, 0.5);
}
@media (min-width: 768px) {
  .showhero-container {
    min-height: 25rem;
  }
}
@media (min-width: 1279px) {
  .showhero-container {
    min-height: 37.5rem;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}
.showhero-container__title {
  position: relative;
  color: #ffff;
  display: flex;
  align-items: center;
  padding: 0 0 1rem 1rem;
  font-size: 24px;
  font-weight: 400;
}
@media (min-width: 768px) {
  .showhero-container__title {
    font-size: 60px;
    font-weight: 400;
  }
}
.showhero-container__subtitle {
  font-size: 0.875rem;
  font-weight: 400;
  position: relative;
  color: #ffff;
  display: flex;
  align-items: center;
  padding: 1rem 0 0.3125rem 1rem;
}
@media (min-width: 768px) {
  .showhero-container__subtitle {
    font-size: 1.8rem;
    margin: 2rem 0 1.5rem 0px;
  }
}
.showhero-container__iframe {
  width: 80%;
  height: 200;
  margin: 2rem;
}
@media (min-width: 768px) {
  .showhero-container__iframe {
    max-width: 90%;
  }
}
@media (min-width: 1279px) {
  .showhero-container__iframe {
    max-width: 50%;
    height: 150;
  }
}

.shows {
  padding: 1rem 0 0 1rem;
}
.shows__hiddenlabels {
  padding-left: 1rem;
  width: 100%;
  margin: 2rem 0 2rem 0;
  justify-content: space-evenly;
  display: none;
}
@media (min-width: 768px) {
  .shows__hiddenlabels {
    display: flex;
    justify-content: space-evenly;
  }
}
@media (min-width: 1279px) {
  .shows__hiddenlabels {
    max-width: 1000px;
    margin: 0 100 20px 400;
  }
}
.shows__labels {
  display: none;
}
@media (min-width: 768px) {
  .shows__labels {
    text-transform: uppercase;
    color: #afafaf;
    font-size: 0.9rem;
    font-weight: 400;
    display: block;
  }
}
.shows__labels--filler {
  color: transparent;
  width: 48%;
}
.shows__labels--size {
  width: 100%;
}
.shows__details {
  padding: 1rem;
  border-bottom: 0.125rem solid #e1e1e1;
}
@media (min-width: 768px) {
  .shows__details {
    display: flex;
    justify-content: space-evenly;
  }
}
@media (min-width: 1279px) {
  .shows__details {
    max-width: 1000px;
    margin: 0 100 0 400;
  }
}
.shows__maintitle {
  font-size: 2.125rem;
  font-weight: 400;
  padding: 1rem;
  display: flex;
  width: 100%;
}
@media (min-width: 768px) {
  .shows__maintitle {
    font-size: 2.8125rem;
  }
}
@media (min-width: 1279px) {
  .shows__maintitle {
    max-width: 500px;
    margin: 0 0 0 200px;
  }
}
.shows__subtitles {
  font-size: 1.125rem;
  font-weight: 400;
  text-transform: uppercase;
  color: #afafaf;
  padding-bottom: 0.3125rem;
}
@media (min-width: 768px) {
  .shows__subtitles {
    display: none;
  }
}
.shows__date {
  font-size: 1.25rem;
  padding-bottom: 1.25rem;
}
.shows__text {
  font-size: 1.125rem;
  padding-bottom: 1rem;
  font-weight: 300;
  width: 100%;
}
.shows__tickets {
  background-color: #323232;
  text-transform: uppercase;
  color: #ffff;
  height: 2.5rem;
  width: 100%;
  border-radius: 0.375rem;
}
@media (min-width: 768px) {
  .shows__tickets {
    max-width: 9.375rem;
  }
}
.shows__tickets:hover {
  background-color: black;
}/*# sourceMappingURL=shows.css.map */